# Dictionary

### benefit
## they may contain the un label data
# we use the locckup and the searchin gint he data
### in the dictionary you have thr unique key and the item and the thing

In [8]:
# hae dictionary have the key the left one and the value have the right one


dict={
"NAME" : "Sandeep",
"NAME" : "Sandeep",
"NAME" : "Sandeep",
"NAME" : "Sandeep",
"AGE" : 25,
add(2,3) : 5,
"addeas" : 5 
}

NameError: name 'add' is not defined

In [1]:
dict

dict

In [2]:
dict["NAME"]

dict['NAME']

# Small exercise
### in which we maje the dictionary and that diff subject and use marks are add

In [3]:
marks={
"Maths" : 90,
"Science" : 80,
"English" : 70

}

In [4]:
marks

{'Maths': 90, 'Science': 80, 'English': 70}

In [5]:
marks["Maths"]

90

In [6]:
## exercise 2 to make the changes in the dictionay values
dict={
"NAME" : "Sandeep",
"AGE" : 25,
"add" : 5,
"addeas" : 5 
}

In [7]:
dict["add"]=6

In [8]:
dict["add"]

6

In [9]:
# exercise 3 to add the new key value pair in the dictionary
dict={
"NAME" : "Sandeep",
"AGE" : 25,
"add" : 5,
"addeas" : 5 
}

In [10]:
dict["school"]="DPS"

In [11]:
#exercise to add the mutiple key value pair in the dictionary
dict={
"NAME" : "Sandeep",
"AGE" : 25,
"add" : 5,
"addeas" : 5 
}

In [12]:
dict.update({"school":"DPS","class":"16th"})

In [13]:
dict

{'NAME': 'Sandeep',
 'AGE': 25,
 'add': 5,
 'addeas': 5,
 'school': 'DPS',
 'class': '16th'}

In [14]:
#exercise to delete the key value pair in the dictionary
dict={  
"NAME" : "Sandeep",
"AGE" : 25,
"add" : 5,
"addeas" : 5 
}

In [15]:
dict.pop("add")

5

In [16]:
del dict["addeas"]
dict

{'NAME': 'Sandeep', 'AGE': 25}

In [17]:
# exerice 5 mak eht eemployee 5 database that have just inckud ther salary

employee={
"Name" : "Sandeep",
"Age" : 25,
"Salary" : 50000
}

In [18]:
employee

{'Name': 'Sandeep', 'Age': 25, 'Salary': 50000}

In [19]:
dict.keys()

dict_keys(['NAME', 'AGE'])

In [20]:
dict.items()

dict_items([('NAME', 'Sandeep'), ('AGE', 25)])

In [21]:
## exercise 6 to run the loop in  the dictionary
dict={
"NAME" : "Sandeep",
"AGE" : 25,
"add" : 5,
"addeas" : 5 
}

In [22]:
for x in dict:
  print(x)

NAME
AGE
add
addeas

In [23]:
for valuse in dict.values():
  print(valuse)

Sandeep
25
5
5

In [24]:
# if we want to print the key value pair
for x,y in dict.items():
  print(x,y)

NAME Sandeep
AGE 25
add 5
addeas 5

In [25]:
## smal  project to mlae the to do list using the dictionary
# ask in put from the user to which value that he wan to give the meaing
dict1={
    "pyhton":"the programming language",
    "nam3":"ali"
    
}
# give functionality to the use to search any word
word=input("telll me the word that you want to search")
print(dict.get(word,"word not exist"))

word not exist

In [27]:
student_data={
    "sandeep":{
        "name":"sandeep",
        "age":25,
        "class":"16th"
    },
    "ali":{
        "name":"ali",
        "age":26,
        "class":"15th"
    }
}

In [28]:
student_data

{'sandeep': {'name': 'sandeep', 'age': 25, 'class': '16th'},
 'ali': {'name': 'ali', 'age': 26, 'class': '15th'}}

In [ ]:
student_data["sandeep"]["age"]

25

: